# ---------------------------------------------------------
# Rakuten Reality Research
# ---------------------------------------------------------

RAKUTEN_APPLICATION_ID=
RAKUTEN_APPLICATION_SECRET=
RAKUTEN_AFFILIATE_ID=
RAKUTEN_BASE_URL=https://app.rakuten.co.jp/services/api
RAKUTEN_FORMAT=json