asgiref==3.11.1
beautifulsoup4==4.14.3
certifi==2026.5.20
charset-normalizer==3.4.7
Django==6.0.5
django-cors-headers==4.9.0
django-extensions==4.1
django-filter==25.2
djangorestframework==3.17.1
feedparser==6.0.12
idna==3.16
psycopg2-binary==2.9.12
requests==2.34.2
sgmllib3k==1.0.0
soupsieve==2.8.4
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.7.0
